@model PagedList.IPagedList<AppMyRPG.Models.Games>
@using PagedList.Mvc
@{
    ViewBag.Title = "すけべ！";
    ViewBag.NavIndex = 2;
}
<div class="game-list">
    @using (Html.BeginForm("Ero", "Home", FormMethod.Get))
    {
        <div class="game-control">
            @Html.TextBox("selectString", ViewBag.CurrentFilter as string, new { placeholder = "搜索游戏", @class = "game-search" })
            @Html.Submit("搜索", "search-btn")
            <div class="order-all">
                <a class="downlist-btn">
                    排序
                    <i class="fa fa-sort-desc"></i>
                </a>
                <div class="downlist-well">
                    @Html.ActionLink("按时间正序", "Ero", new { order = "time", currentFilter = ViewBag.CurrentFilter,orderFilter = ViewBag.OrderFilter })
                    @Html.ActionLink("按时间倒序", "Ero", new { order = "timedesc", currentFilter = ViewBag.CurrentFilter,orderFilter = ViewBag.OrderFilter })
                    @Html.ActionLink("按热度排序", "Ero", new { order = "hot", currentFilter = ViewBag.CurrentFilter, orderFilter = ViewBag.OrderFilter })
                </div>
            </div>
            <div class="order-all">
                <a class="downlist-btn">
                    分类
                    <i class="fa fa-sort-desc"></i>
                </a>
                <div class="downlist-well">
                    @Html.ActionLink("所有", "Ero")
                    @foreach (var io in ViewBag.OrderNum)
                    {
                        <a href="@Url.Action("Ero","Home", new { typeorder = io,order = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">@io</a>
                    }
                </div>
            </div>
        </div>
    }
    <div class="game-well">
        @foreach (var item in Model)
        {
            <div class="game-item">
                <a href="@Url.Action("EroDetail","Game",new { id=item.GameID})" class="item-title" title="@item.GameName" target="_blank">
                    @item.GameName
                </a>
                <div class="item-dec">
                    <img class="lazy" data-original="@item.GameFace" />
                    <div class="item-dec-cont">
                        @item.GameDec
                    </div>
                </div>
                <div class="item-timecmthot">
                    <span><i class="fa fa-calendar">&nbsp;</i>@item.GameTime</span>
                    <span><i class="fa fa-commenting">&nbsp;</i>@item.GameCmtCount</span>
                    <span><i class="fa fa-share">&nbsp;</i>@item.GameHot</span>
                </div>
            </div>
        }
    </div>
</div>
<div class="my-pager">
    @Html.PagedListPager(Model, page => Url.Action("Ero", new { page,order = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, }))
</div>